body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  margin-top: 50px;
  margin: auto;
  /* height: 50vh; */
  height: auto;
}
.slick-slider > div {
  display: grid !important;
  place-items: center !important;
}
@media (max-width: 1024px) {
  .slick-slide > div {
    /* height: 70vh; */
    height: auto;
  }
}
@media (max-width: 500px) {
  .slick-slide > div {
    width: 100%;
    height: 400px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #142658 !important;
  font-size: 50px !important;
}
@media (max-width: 300px) {
  .slick-prev:before,
  .slick-next:before {
    color: white !important;
    font-size: 0px !important;
  }
}
.slick-dots button {
  width: 0px !important;
  height: 0px !important;
  color: white !important;
}
