.offerSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
  padding-top: 2%;
  text-align: center;
  background: #fefefe;
}

.offerCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.offerCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.12), 2px 4px 18px rgba(0, 0, 0, 0.14),
    0px 0px 20px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.5s ease;
}

.offerCard h3 {
  font-size: 20px;
  margin: 0px;
}

.offerCard p {
  font-size: 18px;
}

.description {
  display: none;
  opacity: 0;
  color: white;
  animation: ease-in-out forwards;
  animation-name: fall-transform;
  animation-duration: 2s;
  text-align: left;
  padding-left: 5%;
  height: 100%;
  font-size: 12px;
}
.description p {
  margin: 8px 1px;
  font-size: 15px;
}
@keyframes fall-transform {
  0% {
    opacity: 0;

    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.centred {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}
.offerCard:hover {
  cursor: pointer;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.3), 2px 4px 18px rgba(0, 0, 0, 0.4),
    0px 0px 20px rgba(0, 0, 0, 0.4);
}
.descriptionContainer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
}
.offerTitle {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  height: 60px;
  padding-top: 1px;
  padding-bottom: 6px;
}
.readMore {
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: self-end;
  background: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.readMore button {
  font-size: 15px;
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: scale 0.4s;
}
.readMore button:hover {
  background: transparent;
  scale: 1.03;
}
@media (max-width: 500px) {
  .offerCard {
    height: 18em;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .offerSection {
    padding: 5px;
  }
  .offerTitle {
    max-height: 80px;
  }
  .description {
    height: 100%;
    padding-top: 20px;
  }
}
